.container {
  position: relative;
  height: 100vh;
}

.box {
  position: absolute;
  top: 20%;
}

/* .round {
  position: absolute;
  left: 20px;
}

.star {
  position: absolute;
  right: 20px;
} */
