@import url('https://fonts.googleapis.com/css2?family=Italianno&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
  --color-white: #FAF7F3;
  --color-black: #222831;
  --color-golden: #D3AF37
  --font-stix:"STIX Two Text", serif;
  --font-italianno: "Italianno", cursive;
}
