@import "tailwindcss";

* {
  box-sizing: border-box;
}

.future {
  color: red;
  font-size: larger;
}

.end {
  color: rebeccapurple;
  font-size: xx-large;
}

nav a:not(:last-child)::after {
  content: "";
  background-color: #fff;
  width: 1px;
  height: 40px;
  opacity: 0.5;
  margin: 10px 0;
}

/* not react */
.container {
  position: relative;
  height: 100vh;
}

.box {
  position: absolute;
  top: 20%;
}

/* .round {
  position: absolute;
  left: 20px;
}

.star {
  position: absolute;
  right: 20px;
} */